.fileInsertModal {
    border: 5px solid black;
    margin: auto;
    width: 50%;
    height: 70vh;
    background-color: #121212;
    display: flex;
    z-index: 100000;
}

.modalContent {
    width: 100%;
}

.uploader {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 70%;
}

.uploader:before {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    bottom: 24px;
    left: 24px;
    right: 24px;
    border: dashed 2px #fafafa;
    color: #fafafa;
    font-size: 14px;
    content: '画像を選択';
    pointer-events: none;
}

.fileInput {
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 0;
}

#uploadFileName {
    color: white;
    font-size: smaller;
    padding: 0 5%;
}

.buttonGroup {
    display: flex;
    justify-content: center;
    column-gap: 2%;
}

.buttonGroup button {
    color: #121212;
    background-color: white;
}

.imagePreview {
    width: 10%;
}

.insertImageButton:disabled {
    color: #6b6a6a !important;
    background-color: white !important;
}

.insertImageButton {
    background-color: darkcyan !important;
    color: white !important;
}
